/*Header*/


.meniu {
  position:fixed; 
  top:0;
  left:0;
  right:0;
  z-index:9999;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color:#3f6b68;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
 }
.nav{
   
  list-style:none;
  text-align:center;
  margin-right: 0px;
  margin-left: 0px;
  padding-left: 10px;
  padding-right: 10px;
  

}
.nav li{
  display:inline;
}
.nav li a {
  display:inline-block;
  padding:1.5%;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  font-size: 28px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 24px;
  text-decoration: none;
  color: #a0c5c3;
}

.nav li a:hover{
  background-color:#74AFAD;
}

.pozaHeader{
  vertical-align: middle;
  padding-bottom: 20px;
  padding-top: 20px;
  width:25%;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding:1.5%;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  font-size: 28px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 24px;
  text-decoration: none;
  color: #a0c5c3;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #3f6b68;
  min-width: 210px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  color: #558C89;
  font-size: 28px;
  font-weight: bold;
  line-height: 26.4px;
  text-decoration: none;
   
}
.dropdown-content li a{
  display:block;
  line-height:40px;
  text-align:center;
  margin:auto;
  
}
.dropdown-content ul{
  text-align: center;
  
}

.dropdown-content li:hover{
  background-color:#74AFAD;
}
.dropdown:hover .dropdown-content {
    display: block;
}
   /*End-Header*/
   
   /* ---------------------------------------------------- */
   
   
	/*ButonUp*/
   
   #myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 50px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: #939393; 
    color: black; 
    cursor: pointer; 
    padding: 15px; 
	border-radius: 10px; 
	height:50px;
	width:50px;
}

#myBtn:hover {
    background-color: #555; 
}
     
	/*End ButonUp*/

/* ---------------------------------------------------- */


/* Acasa */

body{
  background: url(/TW/background.jpg) ;
}

.contentAcasa{
  margin-top:0px;
  position:relative; 
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom:30px;
  margin-top:220px;
}

 /*Slider*/

.slides {
    padding: 0;
    width: 1400px;
    height: 750px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
    top: 0;
    opacity: 0;
    width: 1400px;
    height: 750px;
    display: block;
    position: absolute;

    transform: scale(0);

    transition: all .7s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
}

.nav label {
    width: 70px;
    height: 100%;
    display: none;
    position: absolute;

    opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 100px;
    text-align: center;
    line-height: 380px;
    font-family: "Varela Round", sans-serif;
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }
label.prev {
	left: 0px;
	top:160px;
}
.nav .next {
	right: 0; 
	top:160px;
}

input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }



.nav-dots .nav-dot {
  top: -5px;
  width: 11px;
  height: 11px;
  margin: 0 4px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: white;
}

.nav-dots .nav-dot:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
}

.nav-dots {
  width: 100%;
  bottom: 9px;
  height: 11px;
  display: block;
  position: absolute;
  text-align: center;
}

/* End Slider */

/* Slideshow dots */

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6,
input#img-7:checked ~ .nav-dots label#img-dot-7,
input#img-8:checked ~ .nav-dots label#img-dot-8 {
  background: black;
}

/* End slideshow dots */


/*Buton read-more*/

.read-more-state {
	display: none;

}

.read-more-wrap{
    font-family: Open Sans;
    font-size: 20px;
    padding: 20px 50px 20px 50px;
    margin: 10px 30px -70px 30px;
	background: url(/TW/box.jpg);

}
.read-more-target {
	opacity: 0;
	max-height: 0;
	font-size: 0;
	transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
	opacity: 1;
	font-size: inherit;
	max-height: 999em;
	margin-top: 30px;
	max-height: 999em;

}

.read-more-state ~ .read-more-trigger:before {
	content: 'Citeşte mai mult';
	font-size: 22px;
	color: #a0c5c3;
	font-weight:bold;

}

.read-more-state:checked ~ .read-more-trigger:before {
	content: 'Închide';
	font-size: 22	px;
	color: #a0c5c3;
	font-weight:bold;
}

.read-more-trigger {
    display: inline-block;
    padding: 15px 25px;
    width: 11%;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #004d99;
    border: none;
    border-radius: 15px;
    margin-right: 60px;
    box-shadow: 0 9px #003366;
	float:right;
}

.read-more-trigger:hover {
	background-color: #004080
}

.read-more-trigger:active {
	background-color: #004080;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

/* End read-more button */

/* Paragraf */

p.paragraf{
    font-family: Open Sans;
    font-size: 20px;
    margin: 40px 40px 40px 120px;
}
p.paragrafDrepta{
	font-family: Open Sans;
    font-size: 20px;
    margin: 0px 0px 40px 40px;
}
p.read-more-target{
  margin:40px 0px 0px 0px;
}
.pagube, .victime, .efecte{
   width:100%;
   margin-bottom:160px;
}

/* End paragraf */

/* Imagini */

.pagubeJPG, .victimeJPG, .efecteGeologiceJPG{
   width:37%;
   vertical-align:top;
   margin-left:40px;
   height: 500px;
   
}

/* End Imagini */

/* Subtitlu */

h1 {
	font-family: "Open Sans";
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: bolder;
	line-height: 26.4px;
	padding-left: 40px;
	text-decoration: none;
}

/* End Subtitlu */

/* Text */

.text{
	width:59%;
	display:inline-block;
	background:none;
	margin-left:20px;
}

#text{
	margin: 50px 50px 0px 50px;
    padding: 30px 100px 0px 30px;
}

.titluCaseta{
	color: #316e66;
    font-weight: bolder;
    letter-spacing: 1px;
    border-bottom: 1px dotted #9c8964;
    margin: 0;
    padding: 0 0 12px;
    text-transform: uppercase;
	font-size: 26px;
}







/* ---------------------------------------------------- */

/*CSS DIAGRAME*/

/*Diagrame*/

.diagrame{
	text-align: center;
	padding-top:30px;
	background-color: #FAFAFA;
}

#piechart_3d, #piechart_3d2, #piechart_3d3{
	width: 33%; 
	height: 500px; 
	display: inline-block;
     
}


.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: orange;
}

.bar:hover {
  fill: orangered ;
}

.x.axis path {
  display: none;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  font-size:18px;
}


.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 15px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}


.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

g.y.axis{
	font-size:20px;
}


/*End-Diagrame*/


/*Content Pagina Diagrame*/
.contentDiagrame{
	position:relative; 
    width: 90%;
    margin-left: auto;
    margin-right: auto;
	background-color:#FAFAFA;
	padding-bottom:30px;
	margin-top:220px;
}
	
	
	
svg{
    display: block;
    margin: 0 auto;
	background-color:#FAFAFA;
	width:90%;
}


h1 {
 font-family: "Open Sans";
 font-size: 30px;
 font-style: normal;
 font-variant: normal;
 font-weight: bold;
 line-height: 26.4px;
 padding-left: 40px;
 text-decoration: none;
}
/*End Content Pagina Diagrame*/

/*END CSS DIAGRAME*/


/* ---------------------------------------------------- */


/*CSS HARTA*/

#map{
    margin-top: 50px;
    text-align: center;
}
.county-border {
    fill: none;
    stroke: white;
}
.axis text {
    font: 20px sans-serif;
}

.axis line, .axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

#key	{
    position: absolute;
    top:90px;
    left: 50px;

}
#tooltip {
position: absolute;
padding: 10px;
background-color: gainsboro;
opacity:0.85;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-o-border-radius: 5px;
border-radius: 5px;
-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
-moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
pointer-events: none;
text-align:center;
font-size:18px;
}

#tooltip.hidden {
display: none;
}



.contentHarta{
margin-top:0px;
  position:relative; 
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  background-color:#ECECEA;
  padding-bottom:30px;
  margin-top:220px;
}

path:hover {
	fill-opacity: .8;
}

/*END CSS HARTA*/


/* ---------------------------------------------------- */


/*CSS REGIUNI*/

/*Content Regiuni*/
.contentRegiuni{
  position:relative; 
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  padding-bottom:30px;
  margin-top:220px;
}
/*End-Content*/

/*Setari Sectiune Regiuni*/
.regiune              /*Setari box regiune*/
{
  width: 30%;
  display: inline-block;
  padding: auto;
  margin: auto;
  border: 2px solid black;
  background-color: #b3ccff;
  
}
.singleRow{
  padding-bottom:30px;         /*Setari fiecare rand*/
}

.pozaRegiune{             /*Setari poza*/
  padding-top: 10px;
  padding-bottom: 30px; 
}
#f1 input[type=submit]{     /*Setari buton*/
  display: block;
  padding: 15px 25px;
  width: 85%;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #D9853B;
  border: none;
  border-radius: 15px;
  margin: auto;
  box-shadow: 0 9px #7c4f27;
}
/*End Sectiune Regiuni*/

/*END CSS REGIUNI*/


/* -------------------------------------------------------- */



/* START TABEL CSS */

/* Start content TABEL */

.content{
  margin-top:0px;
  position:relative; 
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  background-color:#ECECEA;
  padding-bottom:30px;
  margin-top:220px;
}

/* End content TABEl */

/* Start Paginare */

.Paginare{
position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  font-family: "Open Sans";
 }

/* End Paginare */

/* -------------------------------------------------------- */

/* Start tabel */


.tabel{
  padding: 50px 10px 10px 10px;

}
th{                 /* SETARI CAP TABEL */
  line-height: 45px;
  font-family: "Open Sans";
  padding: 10px 10px 10px 10px;
  font-size: 25px;
  color: white;
  background-color: #0066ff;
  border: 3px solid black;
}
td{                 /* SETARI CONTINUT TABEL */
  font-family: "Open Sans";
  padding: 7px 7px 7px 7px;
  border: 2px solid black;
  background-color: #e6f7ff;
}
table {
    border-collapse:collapse;
    border-spacing:0;
    
}

/* End tabel */

/* -------------------------------------------------------- */

/* REGIUNI */




.rownv{
	padding-top:30px;
	width: 95%; 
	border: 2px solid black;
    margin-bottom: 2.1429em;
	margin-top: 2.1429em;
	margin-left:auto;
	margin-right:auto;
    padding: 1px 1px 1px 1px;
    -webkit-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.5);
    transition: all 0.1s linear 0s;
	background: url(/TW/box.jpg);
}
.pozanv{
	width: 40%;
	display: inline-block;
	padding: 20px 20px 20px 20px;
	margin: 25px 25px 25px 25px;
	vertical-align:top;
	max-height: 426px;
	border-radius:9%;
}
.textnv{
  width: 40%;
  display: inline-block;
  font-size: 25px;
  text-align:left;
  vertical-align:top;
}
.rowText{
	text-align:center;
	margin-bottom:10px;
	width:53%;
	display:inline-block;
	margin-left:auto;
	margin-right:auto;
	font-family: "Open Sans";
	font-size: 20px;
 
		
}
.titluRegiuni{
	margin-bottom:50px;
	margin-top:25px;
	padding-top:20px;
	
}

/* Modal+Charts */

.modalDialog, .modalDialog1, .modalDialog2, .modalDialog3, .modalDialog4, .modalDialog5, .modalDialog6, .modalDialog7, .modalDialog8, .modalDialog9, .modalDialog10
, .modalDialog11, .modalDialog12 {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target, modalDialog1:target, modalDialog2:target, modalDialog3:target, modalDialog4:target, modalDialog5:target, modalDialog6:target, modalDialog7:target
, modalDialog8:target, modalDialog9:target, modalDialog10:target, modalDialog11:target, modalDialog12:target {
    opacity:1;
    pointer-events: auto;
	text-align: center;
}
.modalDialog > div, .modalDialog1 > div, .modalDialog2 > div, .modalDialog3 > div, .modalDialog4 > div, .modalDialog5 > div, .modalDialog6 > div, .modalDialog7 > div 
, .modalDialog8 > div, .modalDialog9 > div, .modalDialog10 > div, .modalDialog11 > div, .modalDialog12 > div{
    width: 800px;
    position: relative;
    margin: 10% auto 10%;
    padding: 30px 20px 30px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:hover {
    background: #454545;
}
#modal
{
	display: inline-block;
    padding: 15px 25px;
    width: 80%;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #B0171F;
    border: none;
    border-radius: 15px;
    margin-right: 60px;
    box-shadow: 0 9px #710f14;
    float: right;
	margin-top:70px;
}
svg#fillgaugeBhojpur, svg#fillgaugeTaplejung, svg#fillgaugeTerhathum ,svg#fillgaugeSolukhumbu,svg#fillgaugeDhanusha, svg#fillgaugeSarlahi, svg#fillgaugeSinduhli 
,svg#fillgaugeSiraha,svg#fillgaugePalpa, svg#fillgaugeNawalparasi, svg#fillgaugeChitawan ,svg#fillgaugeParsa,svg#fillgaugeBara, svg#fillgaugeRautahat
,svg#fillgaugeMakawanpur ,svg#fillgaugeMorang ,svg#fillgaugeSunsari, svg#fillgaugeRakum, svg#fillgaugeRolpa ,svg#fillgaugeGulmi,svg#fillgaugeDolakha,svg#fillgaugeKavre
,svg#fillgaugeRamechhap, svg#fillgaugeSindhupalchok ,svg#fillgaugeKathmandu,svg#fillgaugeBhaktapur, svg#fillgaugeNuwakot,svg#fillgaugeRasuwa ,svg#fillgaugeDhading ,svg#fillgaugeGorkha
,svg#fillgaugeLamjung, svg#fillgaugeKaski ,svg#fillgaugeOkhaldhunga{
    background: -webkit-linear-gradient(#fff, #999);
}
/*END Modal+Charts */

/* End REGIUNI */









@media screen and (max-width:1024px){			/* IPAD PRO*/


/*ACASA*/

.slide{
 width: 95%


}

.slides{
 width: 105%
}


.nav li a{
	font-size: 17px;
}
.dropdown{
	font-size: 17px;
}

.pagubeJPG, .victimeJPG, .efecteGeologiceJPG{
	margin-left: auto;
    margin-right: auto;
    width: 100%;
	margin-bottom:30px;
	height:500px;
	}

	p.paragrafDrepta{
		margin-left: auto;
		margin-right: auto;
		width: 781px;

	}

	.read-more-wrap{
		margin: 10px 30px -65px 30px;
	}

	.read-more-trigger{
		width:20%;
		margin-bottom:50px;
	}	
	p.paragraf{
		margin:40px 40px 40px 40px;

	}
	#myBtn{
		right:20;
	}
	.pozanv{
		width:90%;
		max-height:510px;
	}
	.rowText{
		width:100%;
		margin-bottom:25px;
	}
	#modal{
	width:85%;
	margin-top:40px;
	}
	.titluRegiuni{
		margin-bottom: 0px; 
		margin-top: 0px; 
		padding-top: 0px; 
	}
	.textnv{
		font-size:24px;
	}
	.text{
	width: 100%;
    margin-left: auto;
    margin-bottom: 30px;
    margin-right: auto;
	}
	.nav .next{
		right:50px;
	}
	th{
		font-size:12px;
	}
	tabel{
		width:100%;
	}
	.dropdown-content{
		min-width:130px
	}
}
@media screen and (min-device-width : 414px) 
    and (-webkit-device-pixel-ratio: 3){
	.nav li a {
		font-size: 13px;
	}
	.dropdown {
    font-size: 14px;
	}
	#modal{
	width: 110%;
	}
	.textnv {
    font-size: 17px;
	}
	.read-more-trigger{
	width:23%;
	}
	.dropdown-content{
		min-width:90px
	}
}
